.App {
  text-align: center;
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}
/* custom btn */
.custom-btn:hover {
  color: #fff;
}
/* footer icon */
.footer-icon svg {
  margin-right: 20px;
  border: 1px solid white;
  padding: 12px;
  border-radius: 50%;
  font-size: 20px;
}
.custom-facebook {
  padding: 12px 16px !important;
}

@media only screen and (max-width: 600px) {
  .mobileHide {
    display: none;
  }
  .navbar button {
    font-size: 11px;
  }
  .mobile-display {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
